.syntax--css {
  .syntax--support {
    &.syntax--constant {

      color: @base0A;
    }
    &.syntax--property-name {
      color: @base0B;
    }
    &.syntax--map.syntax--key {
      color: @base0B;
    }
  }

  .syntax--keyword {
    &.syntax--unit {
      color: @base09;
    }
    &.syntax--important {
      color: @base0E;
    }
    &.syntax--control {
      color: @base0E;
    }
  }

  .syntax--constant {
    &.syntax--numeric {
      color: @base0A;
    }
    &.syntax--color {
      color: @base09;
      .syntax--punctuation {
        color: @base0F;
      }
    }
  }

  .syntax--entity {
    &.syntax--tag {
      color: @base0F;
    }
    &.syntax--id {
      color: @base08;
    }
    &.syntax--pseudo-class {
      color: @base0C;
    }
    &.syntax--entity.syntax--parent-selector-suffix {
      .syntax--punctuation.syntax--definition.syntax--entity {
        color: @base09;
      }
    }
  }

  .syntax--entity.syntax--name.syntax--reference,
  .syntax--entity.syntax--other.syntax--parent-selector .syntax--punctuation.syntax--definition.syntax--entity {
    color: @base08;
  }

  .syntax--punctuation {
    &.syntax--function,
    &.syntax--definition.syntax--keyword,
    &.syntax--punctuation.syntax--definition.syntax--bracket,
    &.syntax--punctuation.syntax--separator {
      color: @base;
    }
    &.syntax--separator.syntax--key-value {
      color: @base0F;
    }
  }

  .syntax--variable {
    color: @base0D;
    &.syntax--set.syntax--map {
      color: @base0A;
    }
  }
}
