.syntax--js {
  .syntax--constant {
    color: @base09;
  }

  .syntax--support {
    color: @base;

    &.syntax--variable {
      &.syntax--property {
        color: @base;
      }
      &.syntax--property.syntax--dom {
        color: @base;
      }
    }
    &.syntax--dom {
      color: @base;
    }
    &.syntax--function.syntax--mutator,
    &.syntax--function.syntax--console {
      color: @base0D;
    }
  }

  .syntax--entity {
    &.syntax--name {
      &.syntax--type {
        color: @color-to-delete;
      }
    }
  }

  .syntax--class {
    color: @base09;
  }

  .syntax--variable {
    &.syntax--property {
      color: @base;
    }
    &.syntax--other.syntax--object {
      color: @base;
    }
    &.syntax--other.syntax--class {
      color: @base09;
    }
    &.syntax--other.syntax--object.syntax--property {
      color: @base;
    }
  }

  .syntax--string.syntax--quoted.syntax--template {
    .syntax--other.syntax--object.syntax--property {
      color: @base0B;
    }
  }

  .syntax--constant {
    &.syntax--numeric {
      color: @base09;
    }

    &.syntax--boolean,
    &.syntax--undefined,
    &.syntax--null {
      color: @base0E;
    }
  }

  .syntax--punctuation.syntax--begin,
  .syntax--punctuation.syntax--end,
  .syntax--delimiter.syntax--comma,
  .syntax--delimiter.syntax--object.syntax--comma,
  .syntax--brace.syntax--curly {
    color: @base;
  }

  .syntax--punctuation.syntax--definition.syntax--string {
    &.syntax--begin,
    &.syntax--end {
      color: @base0A;
    }
  }

  .syntax--punctuation.syntax--quasi.syntax--element{
    &.syntax--begin,
    &.syntax--end {
      color: @base0F;
    }
  }

  .syntax--punctuation.syntax--definition.syntax--quasi {
    &.syntax--begin,
    &.syntax--end {
      color: @base0A;
    }
  }

  .syntax--export .syntax--variable.syntax--default {
    color: red;
  }

  .syntax--keyword.syntax--control,
  .syntax--storage.syntax--type,
  .syntax--storage.syntax--modifier {
    color: @base0E;
  }

  .syntax--string.syntax--unquoted {
    color: @base0B;
  }

  .syntax--keyword.syntax--operator.syntax--accessor {
    color: @base;
  }

  .syntax--this {
    color: @base0E;
  }
}
