.syntax--python {
  .syntax--meta {
    &.syntax--function-call {
      .syntax--punctuation {
        color: @base;
      }

      .syntax--arguments {
        &.syntax--punctuation {
          color: @base;
        }
      }
    }
  }

  .syntax--variable {
    &.syntax--self {
      color: @base0E;
    }
  }

  .syntax--meta {
    .syntax--punctuation {
      &.syntax--inheritance, &.syntax--section {
        color: @base;
      }
    }
  }

  .syntax--variable {
    &.syntax--parameter {
      color: @base;
    }
  }

  .syntax--keyword {
    color: @base0E;

    &.syntax--operator {
      color: @base0E;
    }
  }

  .syntax--storage.syntax--type {
    color: @base0E;
  }
}
