// These colors are specific to the theme. Do not use in a package!

// @very-light-gray:   #DDDDDD;
// @light-gray:        #B2CCD6;
// @gray:              #373b41;
// @dark-gray:         #282a2e;
// @very-dark-gray:    #212121;
// @green:             #C3E88D;
// @teal:              #009688;
// @light-teal:        #73d1c8;
// @cyan:              #89DDF3;
// @blue:              #82AAFF;
// @indigo:            #7986CB;
// @purple:            #C792EA;
// @pink:              #FF5370;
// @red:               #F07178;
// @strong-orange:     #F78C6A;
// @orange:            #FFCB6B;
// @light-orange:      #FFE082;

@color-to-delete: #c792ea;

@atom-primary: #009688;
@s: -5;
@base00: saturate(#181818, @s);
@base01: saturate(#282828, @s);
@base02: saturate(#383838, @s);
@base03: saturate(#585858, @s);
@base04: saturate(#b8b8b8, @s);
@base05: saturate(#d8d8d8, @s);
@base06: saturate(#e8e8e8, @s);
@base07: saturate(#f8f8f8, @s);
@base08: saturate(#ab4642, @s);
@base09: saturate(#dc9656, @s);
@base0A: saturate(#f7ca88, @s);
@base0B: saturate(#a1b56c, @s);
@base0C: saturate(#86c1b9, @s);
@base0D: saturate(#7cafc2, @s);
@base0E: saturate(#aa759f, @s);
@base0F: saturate(#a16946, @s);
@base: @base05;
